{% extends 'base.html' %}
{% load static %}

{% block title %} - Dev Area{% endblock title %}

{% block content %}
    <h2>Dev Area</h2>
    <p>Below is various applications and scripts I have made. Everything I have is open source, and links to the code are available.</p>
    {% if not object_list.all %}
        <p>There are is no software to show.</p>
    {% else %}
        {% for app in object_list %}
            <h5 class="blog_item"><a href="{% url 'devarea:app' app.pk %}" class="blog_item">{{ app.app_name }}</a></h5>
            <small><a href="#">{{ app.app_type }}</a></small>
            <small>Published on: {{ app.post_date }}</small>
            <small>
                {% if user.id == app.author_id %}
                    <a href="{% url 'devarea:dev_edit' app.pk %}"><img src="{% static 'img/icons/edit_80px.png' %}" alt="" class="user_widget"></a>
                    <a href="{% url 'devarea:dev_delete' app.pk %}"><img src="{% static 'img/icons/delete_bin_80px.png' %}" alt="" class="user_widget"></a>
                {% endif %}

                </small>
                <div>{{ app.snippet | safe }}...<a href="">Read More</a></div>
                <small>Written by: <a href=#>{{ app.author }}</a></small>
        {% endfor %}
    {% endif %}
{% endblock content %}