body {
    font-size: 16px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;

}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4)
}

.slides-navigation .prev,
.slides-navigation .next{
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url('../img/icons/back.png');
}

.slides-navigation a.next {
    right: 20px;
    background-image: url('../img/icons/forward.png');
}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
    font-size: 50px;
}

.titleMessage .heading .sub {
    font-size: 23px;
}

.slides-navigation {
    z-index: 6;
}

.section {
    padding: 100px 0;

}

.aboutImage {
    max-width: 100%;
}

.youtubeComponent,
.contactSection,
.codeblockPrimary{
    background-color: #00b894;
    color: #fff;
}

.skill {
    text-align: center;
    margin-left: 10px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: #000;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
    content: '%';
}

.squareItem {
    margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;
    min-height: 200px;
}


.squareInnerContainer:before,
.squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0;
    width: 30%;
    border-bottom: 2px solid #444;
    
}

.squareInnerContainer:before {
    right: 0;
}

.squareInnerContainer:after {
    left: 0;
}

.squareContent h2 {
    font-size: 32px;
    margin-top: 7.5%;
    /* margin-bottom: 10px; */
    font-weight: 400;
    color: #00b894;
}

.squareContent h3 {
    font-size: 13px;
    margin: 0;
    font-weight: 600;
   
}

.squareContent a{
	color: #00b894;
}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
}

.contactButton {
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
}

.contactButton:hover {
    text-decoration: none;
    color: #00b894;
    background-color: #fff;
}

.filter a {
    color: #bdc3c7;
    border: 1px solid #bdc3c7;
    padding: 10px 18px;
    display: block;
}

.filter li {
    display: inline-block;
    padding: 5px;
}

.filter .current {
    background-color: #00b894;
    border-color: #00b894;
    color: #fff;
}

.filter {
    text-align: center;
    width: 100%;
}

.section .heading {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}

.items li {
    display: inline-block;
    padding: 5px;

}

.itemsContainer {
    width: 100%;
}

.items li img {
    width: 100%;
    -webkit-transition: all 0.2s linear, 0.7s;
    -moz-transition: all 0.2s linear, 0.7s;
    -o-transition: all 0.2s linear, 0.7s;
    -ms-transition: all 0.2s linear, 0.7s;
    -transition: all 0.2s linear, 0.7s;

}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
    width: 40px;
    height: 40px;
    background-color: #00b894;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.2s linear, 0.3s;
    -moz-transition: all 0.2s linear, 0.3s;
    -o-transition: all 0.2s linear, 0.3s;
    -ms-transition: all 0.2s linear, 0.3s;
    -transition: all 0.2s linear, 0.3s;

}

.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}


.items .item:hover .imageOverlay {
    opacity: 1;
}

.items .openButton {
    float: left;
    left: -200px;
}

.items .projectLink {
    float: right;
    right: -200px;
}

.items .item:hover .openButton {
    left: 0;
}

.items .item:hover .projectLink {
    right: 0;
}

.items .item:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.items {
    padding: 0;
}

.copyrightSection {
    background-color: #000;
    color: #fff;
    padding: 30px 5px;

}

.copyrightSection p {
    margin: 0;
}

#navigation {
    background-color: #00b894;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
    padding: 0 10px;
}

#navigation li a {
    color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}


.navbar-toggler-icon {
    background: url(../img/icons/menu_64px.png);
    background-size: 100%;
}

.fixedNav #navigation {
    position: fixed;
    top: 0;
}

.loader {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.loader .inner {
    width: 100%;
    height: 100%;
    background: url(../img/loader.gif) center center no-repeat;
}

.embeddedVideo a{
	text-decoration: none;
	color: #fff;
}

.embeddedVideo a:hover{
	text-decoration: underline;
/* 	color: #d3d1eb; */
}

.codeText {
	border: 3px solid black;
	background-color: #cccccc;
	color: #ff0000;
	margin-right: 10%;
	margin-left:10%;
}


pre {
	max-width: 100%;
    overflow-x: auto;
    
}

.codeblock {
	padding-top: 50px;
	padding-bottom: 50px;
}

.codeBlockPrimaryLink {
	color: #fff;
	text-decoration: none;
	margin-left: 10%;
}

.codeBlockSecondaryLink {
	color: black;
	text-decoration: none;
	margin-left: 10%;
}

.codeBlockPrimaryLink:hover {
	color: #fff;
	text-decoration: underline;
	
}

.codeBlockSecondaryLink:hover {
	color: black;
	text-decoration: underline;

}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.iframeContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.blog {
    background-color: #00b894;
    min-height: 100vh;
    padding-bottom: 90px;

}

.view {
    background-color: white;
    padding-bottom: 2px;
}

iframe {
    border: none;
}

.btn-ack {
    background-color: #00b894;
    color: #fff;
}

.btn-confirm {
    background-color: #ff7675;
    color: #fff;
}

.btn-home {
    background-color: #fff;
    color: #00b894;
    border: 1px #00b894 solid;
}

.dropdown-menu {
    background-color: #55efc4;
}
.dropdown-item:hover {
    background-color: #000;
}

.user_widget {
    max-width: 16px;
}

.blog_item {
    list-style-type: none;
    text-decoration: none;
}

.blog_item:hover {
    text-decoration: none;
}

/*#login-form {*/
/*    display: block;*/
/*}*/

/*#register-form {*/
/*    display: none;*/
/*}*/

.user_profile_pic{
    width: 200px;
}

.clear-text {
    color: #00b894;

}

.has-account-text:hover {
    cursor: pointer;
}

.invite-count {
    display: flex;
    flex-direction: column;

}
