{% extends 'base.html' %}
{% load static %}
{% block title %}{{ blogpost.title }}{% endblock %}
{% block content %}
    <main>
        <h4>{{ blogpost.title }}</h4>
        <small>
            {% if user.id == blogpost.author_id %}
                <a href="{% url 'blog:blog_edit' blogpost.pk %}"><img src="{% static 'img/icons/edit_80px.png' %}" alt="" class="user_widget"></a>
                <a href="{% url 'blog:blog_delete' blogpost.pk %}"><img src="{% static 'img/icons/delete_bin_80px.png' %}" alt="" class="user_widget"></a>
            {% endif %}
        </small>
        <small>By: <a href="#">{{ blogpost.author }}</a></small>
        <small>Published on: {{ blogpost.post_date }}</small>
        <br>
        {% if blogpost.header_image %}<img src="{{ blogpost.header_image.url }}" alt="" class="blog-image">{% endif %}
        <article>
            {{ blogpost.body|safe }}
        </article>
    </main>
    {% endblock %}