{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple IT Tools {% block title %} {% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/superslides.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/vue2-6-12.js' %}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="content-wrap">
            {% include 'navbar/nav.html' %}
            <div class="blog">
                <div class="container view">
                    {% block content %}

                    {% endblock content %}
                </div>
            </div>
        </div>
        <footer id="footer">
            <div class="copyrightSection">
                <div class="col-md-12 text-center">
                    <p>&copy;2020 Copyright Ryan Mooney</p>
                </div>
            </div>
        </footer>
    </div>
{#    <a href="{% url 'login' %}" id="loginhidden"></a>#}

    <script src="{% static 'js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
{#    <script src="{% static 'js/tracking.js' %}"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/authAccess.js' %}"></script>


</body>
</html>